<div class="main-container">
    <div class="side-menu-block">
        <div class="side-menu">
            <button type="button" class="btn side-menu-btn" [ngClass]="{'active-side-menu-btn': AboutUsCheck}"
                (click)="sideMenuChange();AboutUsCheck = true">Про нас</button>
            <button type="button" class="btn side-menu-btn" [ngClass]="{'active-side-menu-btn': countryCheck}"
                (click)="sideMenuChange();countryCheck = true; getCountries()">Обрати країну</button>
            <button type="button" class="btn side-menu-btn" [ngClass]="{'active-side-menu-btn': bookHotelCheck}"
                (click)="sideMenuChange();bookHotelCheck = true; checkSelectedHotel()">Забронювати готель</button>
            <ng-container *ngIf="selectedTickets.length > 0">
                <button type="button" class="btn side-menu-btn" [ngClass]="{'active-side-menu-btn': buyTicketCheck}"
                    (click)="sideMenuChange();buyTicketCheck = true">Придбати авіа квиток</button>
            </ng-container>
            <ng-container *ngIf="selectedTickets.length === 0">
                <button type="button" class="btn side-menu-btn" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Придбати авіа квиток</button>
            </ng-container>
        </div>
    </div>
    <div class="content">
        <div class="p-4 container-fluid">
            <ng-container *ngIf="AboutUsCheck">
                <h2>Про нас.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, dolorum. Impedit nihil, laborum modi
                    eveniet qui
                    optio facilis eius explicabo, pariatur distinctio labore voluptas ipsam corporis debitis voluptates
                    saepe
                    voluptate nesciunt aperiam alias beatae. Officia, minima natus vel aperiam voluptas doloribus porro.
                    Nam
                    praesentium natus cum placeat laboriosam nisi quae velit inventore excepturi error? Cumque quibusdam
                    voluptatibus possimus vero sit unde iure sed, eveniet impedit? Corrupti ipsum nobis commodi repellat
                    quisquam
                    aspernatur fuga incidunt fugit! Dolorum soluta sequi voluptas consequatur iusto illum, fugiat nihil
                    architecto
                    ipsa tempore totam laudantium inventore, placeat facilis quo! Natus pariatur tempora perspiciatis
                    numquam
                    nihil
                    dolor, sequi maxime reiciendis id tempore, quidem quis officia a earum sapiente odio debitis
                    voluptatem
                    nemo
                    est
                    ratione. </p>
            </ng-container>

            <ng-container *ngIf="countryCheck">
                <form #countriesCheck="ngForm">
                    <ng-container *ngFor="let item of countries; index as i">
                        <div class="d-flex justify-content-between align-items-center p-2"
                            [ngClass]="{'bg-lightgrey':item.travelStatus === 'Недоступний'}" [id]="'itemC'+i">
                            <label class="d-flex justify-content-center align-items-center">
                                <input type="checkbox" [name]="item.name" ngModel
                                    [disabled]="item.travelStatus === 'Недоступний'"
                                    (click)="changeColor('itemC'+i, countriesCheck, item.name)">
                                <div class="container">
                                    <h2><strong> {{item.name}}</strong></h2>
                                    <span class="border-box">Тревел
                                        статус: <span
                                            [ngClass]="{'bg-green':item.travelStatus === 'Доступний','bg-red':item.travelStatus === 'Недоступний'}">{{item.travelStatus}}</span></span>
                                    <span class="border-box">Кількість готелів: {{item.availableHotels}}</span>
                                    <span class="border-box">Кількість турів: {{item.toursCount}}</span>
                                </div>
                            </label>
                            <div class="img-world"></div>
                        </div>
                        <hr>
                    </ng-container>
                    <button class="btn btn-warning"
                        (click)="selectedCountriesCheck(countriesCheck);sideMenuChange();bookHotelCheck = true; checkSelectedHotel()">Обрати</button>
                </form>
            </ng-container>


            <ng-container *ngIf="bookHotelCheck">
                <form #hotelCheck="ngForm">
                    <ng-container *ngFor="let item of selectedHotels; index as i">
                        <div class="d-flex justify-content-between align-items-center  p-2" [id]="'itemH'+i">
                            <label class="d-flex justify-content-center align-items-center">
                                <input type="checkbox" [name]="item.name" ngModel
                                    (click)="changeColor('itemH'+i, hotelCheck, item.name)">
                                <div class="container">
                                    <h2><strong> {{item.name}}</strong></h2>
                                    <span class="border-box">Вільних номерів:{{item.availableRooms}}</span>
                                    <span class="border-box">Місто:{{item.city}}</span>
                                    <span class="border-box">Країна:{{item.country}}</span>
                                </div>
                            </label>
                            <div class="img-hotel"></div>
                        </div>
                        <hr>
                    </ng-container>
                    <button class="btn btn-warning" (click)="selectedHotelCheck(hotelCheck)">Обрати</button>
                </form>
            </ng-container>

        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Придбати авіа квиток</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Будь ласка, спочатку оберіть країну та готель
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Зрозуміло</button>
                </div>
            </div>
        </div>
    </div>

</div>