@import "../../shared/styles/variable";

.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: flex-start;
  width: 97vw;
  max-width: 2420px;
  min-height: calc(100vh - 190px);
  max-height: max-content;
  margin: 70px auto;
}
.side-menu-block {
  display: block;
  width: 210px;
  height: 60vh;
}
.side-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 75px;
  left: 0;
  width: 195px;
  border-radius: 0 15px 15px 0;
  height: 335px;
  background-color: rgb(162, 219, 238);
  padding: 10px 0 10px 10px;
}
.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-start;
  width: 78%;
  height: 100%;
}
.side-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 25px 0 0 25px;
  color: white;
  transition: all 0.35s;
  &:hover {
    color: black;
  }
  &:active {
    background-color: white;
  }
}

.active-side-menu-btn {
  background-color: white;
  color: black;
  box-shadow: 10px 0px 20px 0px white;
}

.bg-lightgrey {
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 5px;
}
.bg-green {
  background-color: rgba(172, 255, 47, 0.15);
  border-radius: 5px;
  padding: 0 2px;
}
.bg-red {
  background-color: rgba(255, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0 2px;
}

.img-hotel {
  background: url(../../../assets/images/hotel.jpg);
}
.img-world {
  background: url(../../../assets/images/world.jpg);
}
.img-ticket {
  background: url(../../../assets/images/ticket.jpg);
}

.img-hotel,
.img-world,
.img-ticket {
  display: block;
  width: 118px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid $mainColor;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 0 lightgrey;
}
.img-world {
  width: 135px;
}
.to-right {
  margin-left: auto;
}
.border-box {
  padding: 2px;
  border-radius: 2px;
  margin: 0 3px;
  color: gray;
  background: linear-gradient(to left, white, rgb(162 219 238 / 11%), white);
}
